// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42


#define STM32F411xE
#define USE_FULL_ASSERT


#define GPIO_SetBits(Port, Pin) HAL_GPIO_WritePin(Port, Pin, GPIO_PIN_SET)
#define GPIO_ResetBits(Port, Pin) HAL_GPIO_WritePin(Port, Pin, GPIO_PIN_RESET)

// #define GPIO_ReadInputDataBit(Port, Pin) HAL_GPIO_ReadData(
